<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>Errors per position by season</title>
    <link rel="stylesheet" href="/css/my_style.css">
</head>
<body>
    <div class="container">
        <h1>Errors per position by season</h1>
        <ul>
            <li><a href="/repopulate">Repopulate Lists</a></li>
            <li><a href="/view">View Data</a></li>
        </ul>
        <div>This is the bbref-scraper homepage.</div>
    </div>
</body>
</html>
