<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>Errors per position by season</title>
    <link rel="stylesheet" href="/css/my_style.css">
</head>
<body>
    <div class="container">
        <h1>Errors per position by season</h1>
        <ul>
            <li><a href="/view">View Data</a></li>
            <li><a href="/">Home</a></li>
        </ul>
		<div class="my-5 text-center"><button id="repopulate" onclick="startRepopulate()">Repopulate Data</button></div>
        <div class="text-center">Note: this will take several minutes to complete.</div>
        <div id="root" class="my-5">
            <div class="p-5 text-center"><img src="images/loading.gif" id="loading" class="d-none" /></div>
        </div>
    </div>

    <script src="/js/repopulate.js"></script>
</body>
</html>
