<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>Errors per position by season</title>
    <link rel="stylesheet" href="/css/my_style.css">
</head>
<body>
    <div class="container">
        <h1>Errors per position by season</h1>
        <ul>
            <li><a href="/repopulate">Repopulate Data</a></li>
            <li><a href="/">Home</a></li>
        </ul>
        <div id="view" class="my-5"></div>
    </div>

    <script src="/js/view.js"></script>
</body>
</html>
